[bumpversion]
current_version = 1.4.1
tag_name = {new_major}-{new_minor}-{new_patch}
commit = True
tag = True

[bumpversion:file:CHANGELOG.md]
search = [Unreleased]
replace = [{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:src/module/gt_python.cpp]
parse = GtVersionNumber((?P<major>\d+), (?P<minor>\d+)[\r\n], (?P<patch>\d+))
serialize = GtVersionNumber({major}, {minor}, {patch})

[bumpversion:file:src/setup_module/gt_python_setup.cpp]
parse = GtVersionNumber((?P<major>\d+), (?P<minor>\d+)[\r\n], (?P<patch>\d+))
serialize = GtVersionNumber({major}, {minor}, {patch})

[bumpversion:file:src/module/gt_python.json]
parse = "Python Setup", "version" : "(?P<major>\d+).(?P<minor>\d+)[\r\n].(?P<patch>\d+)"
serialize = "Python Setup", "version" : "{major}.{minor}.{patch}"
