${JOBNAME}:
  stage: deploy
  script:
    - echo "Hello template"
    - echo $PLATFORMNAME
    - echo $RELEASESTATUS
    - echo $COMMIT_BRANCH
    - echo $COMMIT_BRANCH
  tags:
    - Win10
  variables:
    PLATFORMNAME:  ${PLATFORMNAME}
    RELEASESTATUS: ${RELEASESTATUS}