${JOBNAME}:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG != null
  before_script:
    - git submodule sync
    - git submodule update --init
  script:
    - echo "Hello child pipeline"
    - .\tests\pipeline-scripts\build\copyHeaders-deployment.bat
  needs:
    - pipeline: $PARENT_PIPELINE_ID
      job: ${DEPENDDEBUG}
      artifacts: true
    - pipeline: $PARENT_PIPELINE_ID
      job: ${DEPENDRELEASE}
      artifacts: true
  tags:
    - Win10
  variables:
    PLATFORMNAME:  ${PLATFORMNAME}
    RELEASESTATUS: ${RELEASESTATUS}
